/* start general  */
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;}
  
  .clear {
    clear: both;
  }
  .container {
    margin: 0 ;
  }
  
  /* end general */
  
  /* start nav */
  .navbar {
    position: fixed;
    background-color: #2c3e50;
    color: #fffffff6;
    width: 100%;
    padding:  0;
    z-index: 2;
  }
  
  .navbar .logo  {
    float: left;
    padding: 1% ;
    margin-left:3% ;
    /* font-weight: 700;
    width: 3vw;
    height: 4vh; */
  
    /* font-size: 1.5vw; */ 
  
  }
  .navbar .logo img {
    float: left;
    height:10vh;
     width: 10vh;
    border-radius: 50%;
  }
  
  .navbar .menu {
    width: 40%;
    float: left;
    list-style-type: none;
    margin-left: 45%;
    background-color: #2c3e50;
  }
  
  .navbar .menu li a {
    float: left;
    text-decoration: none;
    color: #fffffff6;
    padding: 2%;
    font-size: 1.5vw;
    line-height: 300%;
  
  }
  
  .navbar .menu a:hover {
    color: #fffffff6;
    border-radius: 10%;
    cursor: pointer;
  }
  
  /* end nav  */
  
  /*start main */
  .main {
    height: 95vh;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  
  /* starting form inputs  */
  .contactme {
    margin: 10% 10% 5% 37%;
  }
  .contactme span {
    padding: 2% 0 0 7%;
  }
  .contactme h2 {
    padding: 3% 1% 0 9%;
  }
  /* startint the form */
  .forminput {
    position: relative;
    margin: 2vw 0 1vw;
  }
  
  .forminput input,textarea {
    font-size: 1vw;
    padding: 1vh 1vw 1vh 0.5vw;
    display: block;
    width: 22vw;
    border: none;
    border-bottom: 1px solid #757575;
  }
  
  
  
  #form-prompt {
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 5px;
    /* display: inline-block; */
  }
  #form label{
    float: left;
    clear:none;
    display: block;
    padding: 0px 1em 0px 8px;
  }
  input[type=radio],
  input.radio{
    float: left;
    clear:none;
    margin: 2px 0 0 2px;
  }
  
  button { margin-top: 10px; }
  
  .forminput label {
    color:black;
    font-size: 1.5vw;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.5vw;
    top: 0.5vh;
  }
  
  .btn
  {
      width: 10vw;
      height: 5vh;
      font-size: 1.5vw;
      margin-left: 10%;
      margin-right: 30%;
      border-radius: 90px 90px;
  }
  .forminput .btn {
    color:#ffffff;
    background-color: #2c3e50;
    opacity: 0.6;
   
   
  }
  
  
  